#game{
    margin: 8%;
    height: 60%;
}

#game-buttons{
    margin: 10% -3% 0;
    overflow: hidden;
}

.button{
    float:left;
    width: 25%;
    text-align: center;
}

.button-text{
    font-size: 0.8em;
}

.button-waiting{
    color: rgba(255,255,255,0.3);
}

.button canvas{
    margin: 0 auto;
}



#game-history{
    clear:both;
    margin-top: 5%;
    width: 100%;
    height: 9.6%;
}

#game-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    padding: 5% 8%;
    background-color: #3e1435;
    overflow: hidden;
}

#game-msg{
    position: absolute;
    top: 15%;
    right: 8%;
    left: 8%;
    height: 85%;
    font-size: 0.9em;
    line-height: 1.3em;
    transition: top 1s;
}

#game-msg.hidden{
    top: 100%
}

#game-counter{
    width: 100%;
    height: 100%;
}
