#gra-zabezpiecz .sexual-activity .sa-image {
  padding-top: 2em;
  padding-bottom: 0.5em;
}
#gra-zabezpiecz .sexual-activity .sa-image canvas {
  display: none;
  margin: 0 auto;
}
#gra-zabezpiecz .sexual-activity .sa-title {
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#gra-zabezpiecz .sexual-activity .sa-desc {
  text-align: center;
  font-style: italic;
}
#gra-zabezpiecz .sexual-activity.anal canvas#sa-canvas-anal {
  display: block;
}
#gra-zabezpiecz .sexual-activity.wagin canvas#sa-canvas-wagin {
  display: block;
}
#gra-zabezpiecz .sexual-activity.oral canvas#sa-canvas-oral {
  display: block;
}
#gra-zabezpiecz .sexual-activity.oralf canvas#sa-canvas-oralf {
  display: block;
}
#gra-zabezpiecz .sexual-activity.manual canvas#sa-canvas-manual {
  display: block;
}
#gra-zabezpiecz .quiz {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#gra-zabezpiecz .quiz .question {
  padding: 1.5em 4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
#gra-zabezpiecz .quiz .answers .answer {
  height: 4.65em;
  width: 100%;
  position: relative;
}
#gra-zabezpiecz .quiz .answers .answer .radio {
  width: 18%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.6em;
  height: 3.2em;
  right: 0;
}
#gra-zabezpiecz .quiz .answers .answer .radio .radio-outer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.2em solid #ffffff;
  border-radius: 1.6em;
}
#gra-zabezpiecz .quiz .answers .answer.checked .radio .radio-inner {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.55em;
  height: 0.55em;
  margin-top: -0.475em;
  margin-left: -0.475em;
  border: 0.2em solid #ffffff;
  border-radius: 0.55em;
  background-color: #fff;
}
#gra-zabezpiecz .quiz .answers .answer .answer-text-wrapper {
  width: 82%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: table;
}
#gra-zabezpiecz .quiz .answers .answer .answer-text-wrapper .answer-text {
  font-size: 0.85em;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-right: 10%;
}
#gra-zabezpiecz .quiz .answers .answer:nth-child(odd) {
  background-color: #e5007d;
}
#gra-zabezpiecz .quiz .answers .answer:nth-child(even) {
  background-color: #c9006e;
}
#gra-zabezpiecz .quiz .confirm-button {
  font-size: 1.33em;
  height: 3.5em;
  line-height: 3.5em;
  background-color: #c9006e;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#gra-zabezpiecz .result {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#gra-zabezpiecz .result .answer {
  font-size: 2em;
  height: 3em;
  width: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #e5007d;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}
#gra-zabezpiecz .result .answer.answer-ok {
  display: none;
}
#gra-zabezpiecz .result .answer.answer-wrong {
  display: block;
}
#gra-zabezpiecz .result .description {
  padding: 2em;
  font-size: 0.85em;
  text-align: justify;
}
#gra-zabezpiecz .result .buttons .button {
  font-size: 1.33em;
  height: 3.5em;
  line-height: 3.5em;
  background-color: #c9006e;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#gra-zabezpiecz .result .buttons.buttons-ok {
  display: none;
}
#gra-zabezpiecz .result .buttons.buttons-wrong {
  display: block;
}
#gra-zabezpiecz .result .buttons.buttons-wrong .button {
  width: 50%;
  float: left;
}
#gra-zabezpiecz .result .buttons.buttons-wrong .button.improve {
  background-color: #e5007d;
}
#gra-zabezpiecz .result .buttons.buttons-wrong .button.next:after {
  clear: both;
}
#gra-zabezpiecz .result .buttons:after {
  clear: both;
}
#gra-zabezpiecz .result.result-ok .answer.answer-ok {
  display: block;
}
#gra-zabezpiecz .result.result-ok .answer.answer-wrong {
  display: none;
}
#gra-zabezpiecz .result.result-ok .buttons.buttons-ok {
  display: block;
}
#gra-zabezpiecz .result.result-ok .buttons.buttons-wrong {
  display: none;
}
#gra-zabezpiecz.with-result .quiz {
  display: none;
}
#gra-zabezpiecz.with-result .result {
  display: block;
}
