#kalkulator {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 4em;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
#kalkulator #kalkulator-results {
  height: 2em;
  background-color: #ff7200;
  color: #fff;
  padding: 1.7em 1em 1.5em;
}
#kalkulator #kalkulator-results .kalk-label {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 700;
  padding-right: 1em;
}
#kalkulator #kalkulator-results .score-rect {
  width: 1.7em;
  display: inline-block;
  margin-left: 0.2em;
  background-color: #cc5b00;
}
#kalkulator #kalkulator-results .score-rect.rect-1 {
  height: 0.37142857em;
}
#kalkulator #kalkulator-results .score-rect.rect-2 {
  height: 0.55714286em;
}
#kalkulator #kalkulator-results .score-rect.rect-3 {
  height: 0.74285714em;
}
#kalkulator #kalkulator-results .score-rect.rect-4 {
  height: 0.92857143em;
}
#kalkulator #kalkulator-results .score-rect.rect-5 {
  height: 1.11428571em;
}
#kalkulator #kalkulator-results .score-rect.rect-6 {
  height: 1.3em;
}
#kalkulator #kalkulator-results.result-1 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-2 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-2 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-5 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-5 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-6 {
  background-color: #fff;
}
#kalkulator #kalkulator-results #kalk-info-button {
  display: inline-block;
  margin-left: 1em;
  height: 2em;
  margin-top: -0.5em;
  width: 2em;
}
#kalkulator #kalkulator-menu {
  background-color: #1b1b1b;
  color: #fff;
  position: relative;
  height: 5.2em;
}
#kalkulator #kalkulator-menu #kalk-left {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  color: #484848;
  transform: scaleX(0.7);
  -webkit-transform: scaleX(0.7);
}
#kalkulator #kalkulator-menu #kalk-left.active {
  color: #fff;
}
#kalkulator #kalkulator-menu #kalk-left::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -0.6em;
  border-right: 0.4em solid;
  border-bottom: 0.4em solid;
  width: 0.8em;
  height: 0.8em;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#kalkulator #kalkulator-menu #kalk-title {
  position: absolute;
  text-align: center;
  width: 60%;
  left: 20%;
  height: 2em;
  margin-top: 1.6em;
  font-size: 1.2em;
  font-weight: 700;
}
#kalkulator #kalkulator-menu #kalk-right {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  color: #484848;
  transform: scaleX(0.7);
  -webkit-transform: scaleX(0.7);
}
#kalkulator #kalkulator-menu #kalk-right.active {
  color: #fff;
}
#kalkulator #kalkulator-menu #kalk-right::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.6em;
  border-right: 0.4em solid;
  border-bottom: 0.4em solid;
  width: 0.8em;
  height: 0.8em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#kalkulator #kalkulator-content {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 10.4em;
  width: 200%;
  overflow: scroll;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
#kalkulator #kalkulator-content::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}
#kalkulator #kalkulator-content.shifted {
  left: -100%;
}
#kalkulator #kalkulator-content .kalk-content-page {
  position: absolute;
  top: 0;
  width: 50%;
  min-height: 100%;
  height: 150%;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia {
  left: 50%;
  padding-top: 1em;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection {
  height: 5em;
  width: 100%;
  position: relative;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection .check {
  width: 18%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.6em;
  height: 3.2em;
  right: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection .check .check-outer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.2em solid #fff;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.selected:not(.disabled) .check .check-outer {
  border-color: #e5007d;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.selected:not(.disabled) .check .check-inner {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.55em;
  height: 0.55em;
  margin-top: -0.475em;
  margin-left: -0.475em;
  border: 0.2em solid #e5007d;
  background-color: #e5007d;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection .name {
  position: absolute;
  width: 75%;
  text-align: left;
  top: 50%;
  margin-top: -0.65em;
  font-size: 1em;
  left: 20%;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection .protect-canvas {
  position: absolute;
  right: 0;
  width: 5em;
  top: 0;
  bottom: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection .protect-canvas-selected {
  display: none;
  position: absolute;
  right: 0;
  width: 5em;
  top: 0;
  bottom: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.selected:not(.disabled) .protect-canvas {
  display: none;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.selected:not(.disabled) .protect-canvas-selected {
  display: block;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.selected:not(.disabled) .name {
  color: #e5007d;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-zabezpieczenia .protection.disabled::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci {
  left: 0px;
  padding-top: 1em;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc {
  height: 5em;
  width: 100%;
  position: relative;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc .radio {
  width: 18%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.6em;
  height: 3.2em;
  right: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc .radio .radio-outer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.6em;
  height: 1.6em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.2em solid #fff;
  border-radius: 1.6em;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc.selected .radio .radio-outer {
  border-color: #e5007d;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc.selected .radio .radio-inner {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.55em;
  height: 0.55em;
  margin-top: -0.475em;
  margin-left: -0.475em;
  border: 0.2em solid #e5007d;
  border-radius: 0.55em;
  background-color: #e5007d;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc .name {
  position: absolute;
  width: 75%;
  text-align: left;
  top: 50%;
  margin-top: -0.65em;
  font-size: 1em;
  left: 20%;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc .czynnosc-canvas {
  position: absolute;
  right: 0;
  width: 5em;
  top: 0;
  bottom: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc .czynnosc-canvas-selected {
  display: none;
  position: absolute;
  right: 0;
  width: 5em;
  top: 0;
  bottom: 0;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc.selected .czynnosc-canvas {
  display: none;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc.selected .czynnosc-canvas-selected {
  display: block;
}
#kalkulator #kalkulator-content .kalk-content-page#kalk-czynnosci .czynnosc.selected .name {
  color: #e5007d;
}
/*# sourceMappingURL=kalkulator.css.map */