#kalkulator #kalkulator-results {
  height: 2em;
  background-color: #ff7200;
  color: #fff;
  padding: 1.7em 1em 1.5em;
}
#kalkulator #kalkulator-results .kalk-label {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 700;
  padding-right: 1em;
}
#kalkulator #kalkulator-results .score-rect {
  width: 1.7em;
  display: inline-block;
  margin-left: 0.2em;
  background-color: #444;
}
#kalkulator #kalkulator-results .score-rect.rect-1 {
  height: 0.37142857em;
}
#kalkulator #kalkulator-results .score-rect.rect-2 {
  height: 0.55714286em;
}
#kalkulator #kalkulator-results .score-rect.rect-3 {
  height: 0.74285714em;
}
#kalkulator #kalkulator-results .score-rect.rect-4 {
  height: 0.92857143em;
}
#kalkulator #kalkulator-results .score-rect.rect-5 {
  height: 1.11428571em;
}
#kalkulator #kalkulator-results .score-rect.rect-6 {
  height: 1.3em;
}
#kalkulator #kalkulator-results.result-1 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-2 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-2 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-3 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-4 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-5 .score-rect.rect-5 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-1 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-2 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-3 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-4 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-5 {
  background-color: #fff;
}
#kalkulator #kalkulator-results.result-6 .score-rect.rect-6 {
  background-color: #fff;
}
#kalkulator #kalkulator-menu {
  background-color: #1b1b1b;
  color: #fff;
}
