ul#menu li{
    position: absolute;
    z-index: 0;
}

ul#menu li canvas,
ul#menu li div
{
    float: left;
    padding-bottom: 3em;
}

ul#menu li:nth-child(even) canvas,
ul#menu li:nth-child(even) div
{
    float: right;
}

.menu-title{
    padding: 0 1em;
    font-size: 1.4em;
}

