#menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#menu li {
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#menu li:nth-child(odd) {
  background-color: #c9006e;
}
#menu li:nth-child(even) {
  background-color: #e5007d;
}
