
ul#menu li{
    position: absolute;
}

ul#menu li canvas,
ul#menu li div
{
    float: left;
}

ul#menu li:nth-child(2) canvas,
ul#menu li:nth-child(2) div
{
    float: right;
}

.menu-title{
    padding: 0 1em;
    font-size: 1.2em;
}

