#splash{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    padding: 1em;
    min-height: 100%;
}

#splash canvas,
#splash .splash-text{
    padding: 1em;
    color: #ddd;
    display: block;
    margin: 0 auto;
    text-align: center;
}