.sub-content-icon{
    width:100%;
    text-align: center;
    padding: 1em 0 0;
}

.sub-content-icon-canvas{
    display: inline-block;
}

.sub-content-icon-title-container{
    display: inline-block;
    //height: 9em; z js
}

.sub-content-icon-title{
    padding: 0 0.5em;
    display: table-cell;
    font-size: 1.5em;
    //line-height: 9em; z js
}

.sub-drug-description{
    padding: 1.5em;
    text-align: justify;
}

#footer{
    display: block;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 4em;
    overflow-x: auto;
    background-color: rgba(0,0,0,0.3);
}

#footer-wrapper{
    display: block;
    font-weight: lighter;
    white-space: nowrap;
    font-size: 0px; //to i niżej dla zlikwidowania marginów między elementami footera
    letter-spacing: 0px;
    word-spacing: 0px;
}

/*
#footer-apla{
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0,0.4);
}*/

#footer-wrapper div{
    background-color: rgba(0,0,0,0.3);
/*    display: inline-block;
    text-align: center;*/
}

#footer canvas{
    display: inline-block;
}