@font-face {
    font-family: OpenSans;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
    font-weight:normal;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/open-sans/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
    font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
        font-weight: normal;
	vertical-align: baseline;
        font-family: OpenSans, sans-serif;
        color: #fff;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
    clear:both;
}

html, body {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    border: 0;
    background-color: #2a98a2;
}

.sub-header{
    position: fixed;
    top:0;
    width: 100%;
    height: 4em;
    background-color:  #2a98a2;
    font-weight: lighter;
}

.sub-header-apla{
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0,0.4);
}

.sub-header .back-button{
    /*background-image:*/
}

.sub-header h2{
    float: left;
    width: 60%;
    line-height: 2em;
    font-size: 2em;
    text-align: center;
    //line-height z js
}

.sub-header a{
    float: left;
    width:20%;
    height: 100%;
    line-height: 100%;
    text-align:center;
}

.sub-header a canvas{
    display: inline;
}

.sub-content{
    margin-top: 4em;
}

.sub-content-icon{
    width:100%;
    text-align: center;
    padding: 1em 0 0;
}

.sub-content-icon-canvas{
    display: inline-block;
}

.sub-content-icon-title-container{
    display: inline-block;
    //height: 9em; z js
}

.sub-content-icon-title{
    padding: 0 0.5em;
    display: table-cell;
    font-size: 1.5em;
    //line-height: 9em; z js
}

.sub-drug-description{
    padding: 1.5em;
    text-align: justify;
}
