.white-background {
  background-color: white;
  width: 100%;
}
.white-background canvas {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 3em 0 1em;
}
.tworcy-footer {
  padding: 1em;
  font-size: 0.8em;
  background-color: #000;
}
.tworcy-image {
  width: 100%;
  margin: 1em 0;
  height: 7em;
}
.ska-background {
  background-position: center center;
  background-size: contain;
  background-image: url('/img/logo_ska.jpg');
  background-repeat: no-repeat;
}
