#gra-zabezpiecz{
    .sexual-activity{

        .sa-image{
            padding-top: 2em;
            padding-bottom: 0.5em;
            canvas{
                display: none;
                margin: 0 auto;
            }
        }

        .sa-title{
            font-size: 1.6em;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            
        }

        .sa-desc{
            text-align: center;
            font-style: italic;
            
        }
        
        &.anal canvas#sa-canvas-anal{
            display:block;
        }
        &.wagin canvas#sa-canvas-wagin{
            display:block;
        }
        &.oral canvas#sa-canvas-oral{
            display:block;
        }
        &.oralf canvas#sa-canvas-oralf{
            display:block;
        }
        &.manual canvas#sa-canvas-manual{
            display:block;
        }
    }

    .quiz{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        
        .question{
            padding: 1.5em 4em;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
        }

        .answers{
            
            .answer{
                display: table;
                height: 4.65em;
                width: 100%;
                
                @radio-button-radius: 1.6em;
                @radio-button-border: 0.20em;
                @radio-button-checked-radius: 0.55em;

                .radio{
                    width: 18%;
                    display: table-cell; 
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: @radio-button-radius;
                        height: @radio-button-radius;
                        margin-top: -@radio-button-radius/2 - @radio-button-border;
                        margin-left: -@radio-button-radius/2 - @radio-button-border;
                        border: @radio-button-border solid #fff;
                        border-radius: 50%;
                    }
                }
                &.checked .radio{
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: @radio-button-checked-radius;
                        height: @radio-button-checked-radius;
                        margin-top: -@radio-button-checked-radius/2 - @radio-button-border;
                        margin-left: -@radio-button-checked-radius/2 - @radio-button-border;
                        border: @radio-button-border solid #fff;
                        border-radius: 50%;
                        background-color: #fff;
                    }
                }
                .answer-text{
                    width: 82%;
                    font-size: 0.85em;
                    display: table-cell; 
                    vertical-align: middle; 
                    text-align: left; 
                    padding-right: 10%;
                }
                
                
                &:nth-child(odd){
                    background-color: #e5007d;
                }

                &:nth-child(even){
                    background-color: #c9006e;
                }
            }
        }

        .confirm-button{
            font-size: 1.33em;
            height: 3.5em;
            line-height: 3.5em;
            background-color: #c9006e;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .result{
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        
        .answer{
            font-size: 2em;
            height: 3em;
            width: 3em;
            line-height: 3em;
            border-radius: 50%;
            background-color: #e5007d;
            text-align: center;
            font-weight: bold;
            margin: 0 auto;
            
            &.answer-ok{
                display: none;
            }
            &.answer-wrong{
                display: block;
            }
        }

        .description{
            padding: 2em;
            font-size: 0.85em;
            text-align: justify;
        }

        .buttons{
            .button{
                font-size: 1.33em;
                height: 3.5em;
                line-height: 3.5em;
                background-color: #c9006e;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
            }
            
            &.buttons-ok{
                display: none;
                .button{
                    &.next{

                    }
                }
            }
            &.buttons-wrong{
                display: block;
                .button{
                    width: 50%;
                    float: left;
                    &.improve{
                        background-color: #e5007d;
                    }
                    &.next:after{
                        clear: both;
                    }
                }
            }
            &:after{
                clear: both;
            }
        }
        &.result-ok{
            .answer{
                &.answer-ok{
                    display:block;
                }
                &.answer-wrong{
                    display: none;
                }
            }

            .buttons{
                &.buttons-ok{
                    display:block;
                }
                &.buttons-wrong{
                    display:none;
                }
            }
        }
    }
    
    &.with-result{
        .quiz{
            display: none;
        }
        .result{
            display: block;
        }
        
    }
}