#kalkulator {

  position: absolute;
  width: 100%;
  bottom: 0;
  top:4em;
  left:0;
  right: 0;
  overflow-x: hidden;


  #kalkulator-results{

    height: 1.6em;
    background-color: #c9006e;
    color: #fff;
    padding: 1.9em 1em 1.7em;
    display: relative;

    .kalk-label {
      display: inline-block;
      font-size: 1.3em;
      font-weight: 700;
      padding-right: 1.2em;
    }

    @color-result-active: #fff;
    @color-result-inactive: rgba(0,0,0,0.13);
    @base-rect-height: 1.3em;
    @number-of-rects: 4;
    .score-rect {
      width: 1.7em;
      //float: left;
      display: inline-block;
      margin-left: 0.2em;
      background-color: @color-result-inactive;

      .generate-rects(@number-of-rects);

      .generate-rects(@n, @i: 1) when (@i <= @n) {
        &.rect-@{i} {
          height: (@base-rect-height*(1+@i)/(1+@number-of-rects));
        }
        .generate-rects(@n, (@i + 1));
      }

    }

    .generate-results(@number-of-rects);

    .generate-results(@n, @i: 1) when (@i <= @n) {
      &.result-@{i} {
        .generate-result-rects(@i);

        .generate-result-rects(@k, @j: 1) when (@j <= @k) {
          .score-rect.rect-@{j} {
            background-color: @color-result-active;
          }
          .generate-result-rects(@k, (@j + 1));
        }
      }

      .generate-results(@n, (@i + 1));
    }

    #kalk-info-button{
      position: absolute;
      right: 1em;
      top: 1.4em;
      height: 2em;
      width: 2em;

      &.disabled{
        display: none;
      }
    }
  }

  #kalkulator-menu {
    background-color: #1b1b1b;
    color: #fff;
    position: relative;
    height: 5.2em;


    #kalk-left {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20%;
      color: #484848;
      &.active{
        color: #fff;
      }
      transform: scaleX(0.7);
      -webkit-transform: scaleX(0.7);
      &::after{
        display: block;
        content: "";
        position: absolute;
        top:50%;
        right: 50%;
        margin-top: -0.6em;
        border-right: 0.4em solid; border-bottom: 0.4em solid;
        width: 0.8em; height: 0.8em;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }

    #kalk-title {
      position: absolute;
      text-align: center;
      width: 60%;
      left: 20%;
      height: 2em;
      margin-top:1.6em;
      font-size: 1.2em;
      font-weight: 700;
    }

    #kalk-right {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 20%;
      color: #484848;
      &.active{
        color: #fff;
      }
      transform: scaleX(0.7);
      -webkit-transform: scaleX(0.7);
      &::after{
        display: block;
        content: "";
        position: absolute;
        top:50%;
        left: 50%;
        margin-top: -0.6em;
        border-right: 0.4em solid; border-bottom: 0.4em solid;
        width: 0.8em; height: 0.8em;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

    }
  }

  #kalkulator-description{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 5.2em;
    width: 100%;
    background-color: #1b1b1b;
    .kalkulator-description-content{
      padding: 1.5em;
      color: #ffffff;
    }
  }

  #kalkulator-content {
    position:absolute;
    left: 0;
    bottom: 0;
    top: 10.4em;
    width: 200%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0em;
      height: 0em
    }

    @transition-length: 0.5s;
    -webkit-transition: left @transition-length ease-in-out;
    -moz-transition: left @transition-length ease-in-out;
    -o-transition: left @transition-length ease-in-out;
    transition: left @transition-length ease-in-out;

    &.shifted{
      left: -100%;
    }

    .kalk-content-page {
      position: absolute;
      top:0;
      width: 50%;
      min-height: 100%;
      height: 150%;

      @color-protect: #fff;
      @color-protect-selected: #e5007d;

      &#kalk-zabezpieczenia{

        left: 50%;
        padding-top: 1em;
        //background-color: #c9006e;
        .protection{
          height: 5em;
          width: 100%;
          position:relative;


          @check-button-radius: 1.6em;
          @check-button-border: 0.20em;
          @check-button-checked-radius: 0.55em;
          .check{
            width: 18%;
            position: absolute;
            left:0;
            top:50%;
            margin-top: -@check-button-radius;
            height: @check-button-radius * 2;
            right:0;
            .check-outer{
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: @check-button-radius;
              height: @check-button-radius;
              margin-top: -@check-button-radius/2 - @check-button-border;
              margin-left: -@check-button-radius/2 - @check-button-border;
              border: @check-button-border solid @color-protect;
            }
          }
          &.selected:not(.disabled) .check {
            .check-outer{
              border-color: @color-protect-selected;
            }
            .check-inner {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: @check-button-checked-radius;
              height: @check-button-checked-radius;
              margin-top: -@check-button-checked-radius/2 - @check-button-border;
              margin-left: -@check-button-checked-radius/2 - @check-button-border;
              border: @check-button-border solid @color-protect-selected;
              background-color: @color-protect-selected;
            }
          }
          .name{
            position: absolute;
            width: 75%;
            text-align: left;
            top: 50%;
            margin-top: -0.65em;
            font-size: 1em;
            left: 20%;


          }
          .protect-canvas{
            position: absolute;
            right: 0;
            width: 5em;
            top:0;
            bottom:0;
          }

          .protect-canvas-selected{
            display:none;
            position: absolute;
            right: 0;
            width: 5em;
            top:0;
            bottom:0;
          }
          &.selected:not(.disabled){
            .protect-canvas{
              display: none;
            }
            .protect-canvas-selected{
              display:block;
            }
            .name{
              color: @color-protect-selected;
            }
          }
          &.disabled::after{
            content: "";
            display: block;
            position:absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background-color: rgba(0,0,0,0.7);
          }
        }

      }
      &#kalk-czynnosci{

        @color-czynnosc: #fff;
        @color-czynnosc-selected: #e5007d;

        left: 0px;
        //background-color: #123fee;
        padding-top: 1em;
        //background-color: #c9006e;
        .czynnosc{
          height: 5em;
          width: 100%;
          position:relative;


          @radio-button-radius: 1.6em;
          @radio-button-border: 0.20em;
          @radio-button-checked-radius: 0.55em;

          .radio{
            width: 18%;
            position: absolute;
            left:0;
            top:50%;
            margin-top: -@radio-button-radius;
            height: @radio-button-radius * 2;
            right:0;
            .radio-outer{
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: @radio-button-radius;
              height: @radio-button-radius;
              margin-top: -@radio-button-radius/2 - @radio-button-border;
              margin-left: -@radio-button-radius/2 - @radio-button-border;
              border: @radio-button-border solid @color-czynnosc;
              border-radius: @radio-button-radius;
            }
          }
          &.selected .radio{
            .radio-outer{
              border-color: @color-czynnosc-selected;
            }
            .radio-inner{
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: @radio-button-checked-radius;
              height: @radio-button-checked-radius;
              margin-top: -@radio-button-checked-radius/2 - @radio-button-border;
              margin-left: -@radio-button-checked-radius/2 - @radio-button-border;
              border: @radio-button-border solid @color-czynnosc-selected;
              border-radius: @radio-button-checked-radius;
              background-color: @color-czynnosc-selected;
            }
          }
          .name{
            position: absolute;
            width: 75%;
            text-align: left;
            top: 50%;
            margin-top: -0.65em;
            font-size: 1em;
            left: 20%;


          }
          .czynnosc-canvas{
            position: absolute;
            right: 0;
            width: 5em;
            top:0;
            bottom:0;
          }

          .czynnosc-canvas-selected{
            display:none;
            position: absolute;
            right: 0;
            width: 5em;
            top:0;
            bottom:0;
          }
          &.selected{
            .czynnosc-canvas{
              display: none;
            }
            .czynnosc-canvas-selected{
              display:block;
            }
            .name{
              color: @color-czynnosc-selected;
            }
          }
        }
      }
    }
  }
}
