<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.org.programstacja.igrasz" version="1.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>(i)grasz?</name>
    <description>
       Niniejsza aplikacja nie ma na celu zachęcania Cię do używania substancji psychoaktywnych, lecz przedstawienie informacji na temat ich działania i mieszania z innymi substancjami. Rzetelna wiedza o tym, jak działają i jak zmniejszać ryzyko wystąpienia niebezpiecznych skutków może uratować zdrowie lub życie.
    </description>
    <author email="info@programstacja.org.pl" href="http:/programstacja.org.pl">
        Program Stacja
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />

    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />

    <access origin="*" />
</widget>
